@page

@model IndexModel
@using JasonAlmond_DiscussionBoard.Models;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    @if (Model.DiscussionThreads.Count != 0)
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Date</th>
                <th>Posts</th>
            </tr>
            </thead>
            <tbody>
            @foreach(DiscussionThread dt in Model.DiscussionThreads)
            {
                <tr>
                    <td>@dt.Title</td>
                    <td>@dt.ApplicationUser.ToString()</td>
                    <td>@dt.CreatedAt.ToLocalTime().ToString("f")</td>
                    <td>@dt.Posts.Count()</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3>No threads have been created yet.</h3>
    }
</div>
